
CoreDataUser.xcodeproj/xcuserdata/CHT.xcuserdatad/xcschemes/xcschememanagement.plist

CoreDataUser.xcodeproj/xcuserdata/CHT.xcuserdatad/xcschemes/CoreDataUser.xcscheme

CoreDataUser.xcodeproj/project.xcworkspace/xcuserdata/CHT.xcuserdatad/UserInterfaceState.xcuserstate

CoreDataUser.xcodeproj/project.xcworkspace/contents.xcworkspacedata
